<div class="backdrop is-hidden" data-modal>
  <div class="modal-page">
    <button class="buy-btn" type="button" data-modal-close>
      <svg class="buy-btn-icon">
        <use href="./img/icons.svg#icon-close-btn-small"></use>
      </svg>
      <svg class="buy-btn-icon2">
        <use href="./img/icons.svg#icon-close-btn-big"></use>
      </svg>
    </button>
    <div class="modal-part-up">
      <h2 class="section-title modal-title">
        <span class="modal-title-part">BUY</span>NOW
      </h2>
      <ul class="modal-list">
        <li class="modal-list-items">
          <img
            srcset="
              ./img/modal-picture/black-chock-mob.jpg    1x,
              ./img/modal-picture/black-chock-mob-2x.jpg 2x
            "
            src="./img/modal-picture/black-chock-mob.jpg"
            alt="chocolate"
          />
          <p class="modal-item-info">100 g</p>
        </li>

        <li class="modal-list-items modal-list-items-hide">
          <img
            srcset="
              ./img/modal-picture/white-chock-mob.jpg    1x,
              ./img/modal-picture/white-chock-mob-2x.jpg 2x
            "
            src="./img/modal-picture/white-chock-mob.jpg"
            alt="chocolate"
          />
          <p class="modal-item-info">200 g</p>
        </li>
        <li class="modal-list-items modal-list-items-hide">
          <img
            srcset="
              ./img/modal-picture/chocolate-bar-mob.jpg    1x,
              ./img/modal-picture/chocolate-bar-mob-2x.jpg 2x
            "
            src="./img/modal-picture/chocolate-bar-mob.jpg"
            alt="chocolate"
          />
          <p class="modal-item-info">300 g</p>
        </li>
      </ul>
    </div>
    <form class="modal-form">
      <label class="modal-field" for="name-input"
        ><span class="modal-field-text">Personal information</span></label
      >

      <div class="personal-info">
        <input
          id="name-input"
          class="modal-input name-input"
          type="text"
          name="user-name"
          placeholder="Name"
          pattern="\w{3,16}"
          required
        />
        <input
          class="modal-input"
          type="text"
          name="user-surname"
          placeholder="Surname"
          pattern="\w{3,25}"
          required
        />
      </div>

      <label class="modal-field field-email">
        <span class="modal-field-text">Email</span>
        <input
          class="modal-input"
          type="email"
          name="user-email"
          placeholder="Email"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$"
        />
      </label>
      <label class="modal-field" for="user-phone">
        <span class="modal-field-text">Phone number</span>
      </label>
      <div class="input-wrap">
        <input
          id="user-phone"
          class="modal-input phone-input"
          type="tel"
          name="user-phone"
          placeholder="Phone number"
          required
          pattern="[0-9]{9}"
        />
        <svg class="modal-icon-flag">
          <use href="./img/icons.svg#icon-flag"></use>
        </svg>
        <span class="modal-input-text">+380</span>
      </div>

      <label class="modal-field" for="user-crd-number">
        <span class="modal-field-text">Card number</span>
      </label>
      <div class="input-wrap">
        <input
          id="user-crd-number"
          class="modal-input"
          type="text"
          name="user-crd-number"
          placeholder="Enter card"
          inputmode="numeric"
          pattern="[0-9\s]{13,19}"
        />
        <svg class="modal-icon-mastercard">
          <use href="./img/icons.svg#icon-mastercard"></use>
        </svg>
      </div>

      <label class="modal-text-area" for="user-comment">Comment</label>
      <textarea
        class="modal-comment"
        name="user-comment"
        id="user-comment"
        placeholder="Enter text"
      ></textarea>

      <button type="submit" class="btn modal-btn" data-modal-subscribe>
        Submit
      </button>
    </form>
  </div>
</div>
