<section class="components">
  <div class="container">
    <h2 class="section-title">
      it all adds up to one exceptional
      <span class="section-title-accent"> taste </span>
      sensation
    </h2>
    <p class="components-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="components-list">
      <li class="components-item">
        <a href="#" class="components-item-link ">
          <!-- <div class="test"> -->
          <picture>
            <source 
            srcset="../img/components/mobile-tablet/chocolate@1x.webp 1x, 
            ../img/components/mobile-tablet/chocolate@2x.webp 2x"
            media="(max-width: 1199px)" type="image/webp"
            >
            <source
            srcset="../img/components/desktop/chocolate@1x.webp 1x,
            ../img/components/desktop/chocolate@2x.webp 2x" 
            media="(min-width: 1200px)" type="image/webp"
            >
            <source 
            srcset="../img/components/mobile-tablet/chocolate@1x.png 1x, 
            ../img/components/mobile-tablet/chocolate@2x.png 2x"
            media="(max-width: 1199px)"
            >
            <source
            srcset="../img/components/desktop/chocolate@1x.png 1x,
            ../img/components/desktop/chocolate@2x.png 2x" 
            media="(min-width: 1200px)"
            >               
            <img class="components-img" src="../img/components/desktop/chocolate@1x.png" loading="lazy" alt="milk chocolate">
            
          </picture>
           
            <p class="components-item-text">milk chocolate</p>
            <div class="roller">
              <p class="roller-title">Milk chocolate</p>
              <div class="roller-button-wrap">
                <p class="roller-button">chocolate</p>
                <p class="roller-button">the benefits</p>
              </div>
              <p class="roller-text">
                Milk chocolate is a solid chocolate confectionery containing
                cocoa, sugar and milk. It is the most consumed type of
                chocolate. Chocolate was originally sold and consumed as a
                beverage in pre-Columbian times. Although four-fifths of all
                milk chocolate is sold in the United States and Europe,
                increasingly large amounts are consumed in China and Latin
                America.
              </p>
            </div>
          <!-- </div> -->
        </a>
      </li>
      <li class="components-item">
        <a href="#" class="components-item-link">
          <picture>
            <source 
                srcset="../img/components/mobile-tablet/milk@1x.webp 1x, 
                ../img/components/mobile-tablet/milk@2x.webp 2x"
                media="(max-width: 1199px)" type="image/webp"
              >
              <source
                srcset="../img/components/desktop/milk@1x.webp 1x,
                ../img/components/desktop/milk@2x.webp 2x" 
                media="(min-width: 1200px)" type="image/webp"
              >
              <source 
              srcset="../img/components/mobile-tablet/milk@1x.png 1x, 
              ../img/components/mobile-tablet/milk@2x.png 2x"
              media="(max-width: 1199px)"
            >
              <source
              srcset="../img/components/desktop/milk@1x.png 1x,
              ../img/components/desktop/milk@2x.png 2x" 
              media="(min-width: 1200px)"
            >               
            <img class="components-img" src="../img/components/desktop/milk@1x.png" loading="lazy" alt="milk">
          </picture>         
          <!-- <img
            class="components-img"
            srcset="
              ../img/components/mobile-tablet/milk@1x.webp 1x,
              ../img/components/mobile-tablet/milk@2x.webp 2x
            "
            src="../img/components/mobile-tablet/milk@1x.webp"
            alt="milk"
          /> -->
          <p class="components-item-text">milk</p>

          <div class="roller">
            <h3 class="roller-title">Milk</h3>
            <div class="roller-button-wrap">
              <p class="roller-button">milk</p>
              <p class="roller-button">the benefits</p>
            </div>
            <p class="roller-text">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system, and thus
              reduces the risk of many diseases. Milk contains many nutrients,
              including protein and lactose.
            </p>
          </div>
        </a>
      </li>
      <li class="components-item">
        <a href="#" class="components-item-link">
          <picture>
            <source 
                srcset="../img/components/mobile-tablet/nuts@1x.webp 1x, 
                ../img/components/mobile-tablet/nuts@2x.webp 2x"
                media="(max-width: 1199px)" type="image/webp"
              >
              <source
                srcset="../img/components/desktop/nuts@1x.webp 1x,
                ../img/components/desktop/nuts@2x.webp 2x" 
                media="(min-width: 1200px)" type="image/webp"
              >
              <source 
              srcset="../img/components/mobile-tablet/nuts@1x.png 1x, 
              ../img/components/mobile-tablet/nuts@2x.png 2x"
              media="(max-width: 1199px)"
            >
              <source
              srcset="../img/components/desktop/nuts@1x.png 1x,
              ../img/components/desktop/nuts@2x.png 2x" 
              media="(min-width: 1200px)"
            >               
            <img class="components-img" src="../img/components/desktop/nuts@1x.png" loading="lazy" alt="nuts">
          </picture>   
          <!-- <img
            class="components-img"
            srcset="
              ../img/components/mobile-tablet/nuts@1x.webp 1x,
              ../img/components/mobile-tablet/nuts@2x.webp 2x
            "
            src="../img/components/mobile-tablet/nuts@1x.webp"
            alt="nuts"
          /> -->
          <p class="components-item-text">nuts</p>
          <div class="roller">
            <h3 class="roller-title">Nuts</h3>
            <div class="roller-button-wrap">
              <p class="roller-button">nuts</p>
              <p class="roller-button">the benefits</p>
            </div>
            <p class="roller-text">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own, paired with
              fruit, or added to dishes like salads, desserts, and grains.
            </p>
          </div>
        </a>
      </li>
      <li class="components-item">
        <a href="#" class="components-item-link">
          <picture>
            <source 
                srcset="../img/components/mobile-tablet/drops@1x.webp 1x, 
                ../img/components/mobile-tablet/drops@2x.webp 2x"
                media="(max-width: 1199px)" type="image/webp"
              >
              <source
                srcset="../img/components/desktop/drops@1x.webp 1x,
                ../img/components/desktop/drops@2x.webp 2x" 
                media="(min-width: 1200px)" type="image/webp"
              >
              <source 
              srcset="../img/components/mobile-tablet/drops@1x.png 1x, 
              ../img/components/mobile-tablet/drops@2x.png 2x"
              media="(max-width: 1199px)"
            >
              <source
              srcset="../img/components/desktop/drops@1x.png 1x,
              ../img/components/desktop/drops@2x.png 2x" 
              media="(min-width: 1200px)"
            >               
            <img class="components-img" src="../img/components/desktop/drops@1x.png" loading="lazy" alt="drops chocolate">
          </picture> 
          <!-- <img
            class="components-img"
            srcset="
              ../img/components/mobile-tablet/drops@1x.webp 1x,
              ../img/components/mobile-tablet/drops@2x.webp 2x
            "
            src="../img/components/mobile-tablet/drops@1x.webp"
            alt="nuts"
          /> -->
          <p class="components-item-text">semi-sweet chocolate</p>
          <div class="roller">
            <h3 class="roller-title">sweet chocolate</h3>
            <div class="roller-button-wrap">
              <p class="roller-button">sweet chocolate</p>
              <p class="roller-button">the benefits</p>
            </div>
            <p class="roller-text">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste whereas milk chocolate is sweeter and
              more mellow. This delectable flavor of chocolate is very
              versatile.
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
