<!-- <img src="../img/components/mobile-tablet/chocolate@2x.webp" /> -->
<section class="components">
  <div class="container">
    <h2 class="section-title">it all adds up to one exceptional <span class="section-title-accent"> taste </span>
      sensation
    </h2>
    <p class="components-text">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the
      details. From the sourcing of the
      finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one
      exceptional taste sensation.</p>
    <ul class="components-list">
      <li class="components-item">
        <div class="components-box">
          <img class="components-img"
            srcset="../img/components/mobile-tablet/chocolate@1x.webp 1x, ../img/components/mobile-tablet/chocolate@2x.webp"
            src="../img/components/mobile-tablet/chocolate@1x.webp" alt="chocolate">
          <p class="components-item-text">dasdasd</p>
        </div>
      </li>
      <li class="components-item">
        <div class="components-box">
          <img class="components-img"
            srcset="../img/components/mobile-tablet/milk@1x.webp 1x, ../img/components/mobile-tablet/milk@2x.webp"
            src="../img/components/mobile-tablet/milk@1x.webp" alt="milk">
          <p class="components-text">asdasdasd</p>
        </div>
      </li>
      <li class="components-item">
        <div class="components-box">
          <img class="components-img"
            srcset="../img/components/mobile-tablet/nuts@1x.webp 1x, ../img/components/mobile-tablet/nuts@2x.webp"
            src="../img/components/mobile-tablet/nuts@1x.webp" alt="nuts">
          <p class="components-text"></p>
        </div>
      </li>
      <li class="components-item">
        <div class="components-box">
          <img class="components-img" srcset="" src="" alt="">
          <p class="components-text"></p>
        </div>
      </li>
    </ul>
  </div>

</section>