<div class="backdrop is-hidden" data-explore>
  <div class="explore-card">
    <button type="button" class="explore-close" data-explore-close>
      <svg class="explore-close-icon" width="24" height="24">
        <use href="../img/icons.svg#icon-close-btn-small"></use>
      </svg>
    </button>
    <h2 class="section-title subscribe-header">
      Explore our <br /><span class="section-title-accent">new chocolate</span>
      first!
    </h2>
    <form class="subscribe-form">
      <input
        type="email"
        class="explore-input"
        placeholder="Enter your email"
      />
      <button class="subscribe-modal-btn">Submit</button>
    </form>
  </div>
</div>
