<footer class="footer container">
  <div class="flex-footer">
    <h3 class="footer-title">
      <span class="footer-span">Chocolate</span> a delicious cure for a bad day
    </h3>
    <address class="footer-address">
      <p class="footer-text">Contact us</p>
      <ul class="list footer-contacts">
        <li class="list-item">
          <a class="footer-inf link" href="tel:+380-68-443-94-26"
            >+380 (68) 443-94-26</a
          >
        </li>
        <li class="list-item">
          <a class="footer-inf link" href="mailto:simplychoc@gmail.com"
            >simplychoc@gmail.com</a
          >
        </li>
      </ul>
    </address>
    <div class="footer-menu-social">
      <ul class="list footer-social svg-small">
        <li class="list-social">
          <a
            class="footer-box link"
            target="_blank"
            href="https://www.instagram.com/"
          >
            <svg class="footer-svg" width="22" height="22">
              <use href="./img/icons.svg#icon-instagram-small"></use>
            </svg>
          </a>
        </li>
        <li class="list-social">
          <a
            class="footer-box link"
            target="_blank"
            href="https://twitter.com/?lang=uk"
          >
            <svg class="footer-svg" width="22" height="22">
              <use href="./img/icons.svg#icon-twitter-small"></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="list footer-social svg-big">
        <li class="list-social">
          <a
            class="footer-box link"
            target="_blank"
            href="https://www.instagram.com/"
          >
            <svg class="footer-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-instagram-big"></use>
            </svg>
          </a>
        </li>
        <li class="list-social">
          <a
            class="footer-box link"
            target="_blank"
            href="https://twitter.com/?lang=uk"
          >
            <svg class="footer-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-twitter-big"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-navigation">
    <ul class="list footer-nav">
      <li class="footer-nav-list">
        <a class="footer-nav-text link" href="#header">Home</a>
      </li>
      <li class="footer-nav-list">
        <a class="footer-nav-text link" href="#made">How it&#96;s made?</a>
      </li>
      <li class="footer-nav-list">
        <a class="footer-nav-text link" href="#products">Our products</a>
      </li>
      <li class="footer-nav-list">
        <a class="footer-nav-text link" href="#sellers">Top sellers</a>
      </li>
      <li class="footer-nav-list">
        <a class="footer-nav-text link" href="#loved">Chocolate is loved</a>
      </li>
    </ul>
  </div>
</footer>
