<header>
  <div class="container">
    <nav class="header-navigation">
      <a class="logotype" href="index.html"
        ><span>SIMPLY </span>CHOCOLATE<svg
          class="logotype-icon"
          width="24px"
          height="24px"
        >
          <use href="../img/icons.svg#icon-logotype-small"></use>
        </svg>
      </a>
      <ul class="header-navigation-list">
        <li class="header-navigation-item">
          <a href="./index.html" class="header-navigation-link">Home</a>
        </li>
        <li class="header-navigation-item">
          <a href="./index.html" class="header-navigation-link"
            >How it’s made?</a
          >
        </li>
        <li class="header-navigation-item">
          <a href="./index.html" class="header-navigation-link">Our products</a>
        </li>
        <li class="header-navigation-item">
          <a href="./index.html" class="header-navigation-link">Top sellers</a>
        </li>
        <li class="header-navigation-item">
          <a href="./index.html" class="header-navigation-link"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
    <div class="header-network-wrap">
      <ul class="header-network-list">
        <li class="header-network-item">
          <svg class="header-network-icon" width="24px" height="24px">
            <use href="../img/icons.svg#icon-instagram-big"></use>
          </svg>
        </li>
        <li class="header-network-item">
          <svg class="header-network-icon" width="24px" height="24px">
            <use href="../img/icons.svg#icon-twitter-big"></use>
          </svg>
        </li>
      </ul>
    </div>
    <div class="header-btn-box-mobile">
      <button type="button" class="menu-modal-btn" data-menu-open>
        <svg class="header-icon-menu-mobile" width="28px" height="28px">
          <use href="../img/icons.svg#icon-menu-small"></use>
        </svg>
      </button>
    </div>
    <div class="header-btn-box-tablet">
      <button type="button" class="menu-modal-btn" data-menu-open>
        <svg class="header-icon-menu-tablet" width="32px" height="32px">
          <use href="../img/icons.svg#icon-menu-big"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
