<section class="section-hero">
  <div class="container">
    <h1 class="section-title">The best chocolate</h1>
    <div class="hero-media">
      <h2 class="hero-subtitle">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
      <button type="button" class="btn hero-btn">Buy now</button>
      <a href="#" class="hero-anchor">How it's made</a>
      <p class="hero-scroll-text">scroll down</p>
      <button type="button" class="hero-scroll-btn">
        <svg class="scroll-icon">
          <use href="../img/icons.svg#icon-jackdaw-small"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
