<section class="section-hero">
  <div class="container">
    <div class="hero-card">
      <h1 class="section-title visually-hidden">The best chocolate</h1>
      <h2 class="hero-subtitle">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
      <div class="hero-media">
        <button type="button" class="hero-btn" data-modal-open>Buy now</button>
        <a href="" class="anchor-hero">How it's made</a>
        <div class="scroll-down">
          <p class="hero-scroll-text">scroll down</p>
          <a href="" class="hero-scroll">
            <svg class="scroll-icon">
              <use href="../img/icons.svg#icon-jackdaw-small"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
