<section class="made" id="made">
  <div class="container">
    <h2 class="section-title title-margin">
      hOW IT’S <span class="section-title-accent">made?</span>
    </h2>
    <div class="made-content-wrap">
      <iframe
        class="made-video"
        src="https://www.youtube.com/embed/DEhUQHXbmI8?controls=0&amp;start=199"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="made-description">
        <h3 class="made-subtitle">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="made-description-list">
          <li class="made-description-item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="made-description-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="made-description-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="made-description-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="made-description-item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
