<div class="backdrop-menu is-hidden" data-menu>
  <div class="modal-menu">
    <div class="menu-container">
      <button class="menu-button" type="button" data-menu-close>
        <svg class="menu-btn-icon">
          <use href="../img/icons.svg#icon-close-btn-small"></use>
        </svg>
        <svg class="menu-btn-icon2">
          <use href="../img/icons.svg#icon-close-btn-big"></use>
        </svg>
      </button>
      <div class="modal-menu-wrap">
        <div class="menu-navigation-wrap">
          <ul class="menu-navigation-list">
            <li class="menu-navigation-item">
              <a href="#header" class="menu-navigation-link">Home</a>
            </li>
            <li class="menu-navigation-item">
              <a href="#made" class="menu-navigation-link">How it’s made? </a>
            </li>
            <li class="menu-navigation-item">
              <a href="#products" class="menu-navigation-link">Our products</a>
            </li>
            <li class="menu-navigation-item">
              <a href="#sellers" class="menu-navigation-link">Top sellers </a>
            </li>
            <li class="menu-navigation-item">
              <a href="#reviews" class="menu-navigation-link"
                >Chocolate is loved</a
              >
            </li>
          </ul>
        </div>
        <div class="menu-network-wrap">
          <ul class="menu-network-list-small">
            <li class="menu-network-item-small">
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.instagram.com/explore/tags/chocolate/"
                class="menu-network-link"
              >
                <svg class="menu-network-icon" width="20px" height="20px">
                  <use href="../img/icons.svg#icon-instagram-small"></use>
                </svg>
              </a>
            </li>
            <li class="menu-network-item-small">
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://twitter.com/hashtag/chocolate?src=hashtag_click"
                class="menu-network-link"
              >
                <svg class="menu-network-icon" width="20px" height="20px">
                  <use href="../img/icons.svg#icon-twitter-small"></use>
                </svg>
              </a>
            </li>
          </ul>
          <ul class="menu-network-list-big">
            <li class="menu-network-item-big">
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.instagram.com/explore/tags/chocolate/"
                class="menu-network-link"
              >
                <svg class="menu-network-icon" width="24px" height="24px">
                  <use href="../img/icons.svg#icon-instagram-big"></use>
                </svg>
              </a>
            </li>
            <li class="menu-network-item-big">
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://twitter.com/hashtag/chocolate?src=hashtag_click"
                class="menu-network-link"
              >
                <svg class="menu-network-icon" width="24px" height="24px">
                  <use href="../img/icons.svg#icon-twitter-big"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
