<div class="modal-menu is-hidden" data-menu>
  <div class="menu-container">
    <button class="menu-button" type="button" data-menu-close>
      <svg class="menu-btn-icon" width="28px" height="28px">
        <use href="../img/icons.svg#icon-close-btn-big"></use>
      </svg>
    </button>
    <div class="modal-menu-wrap">
      <div class="menu-navigation-wrap">
        <ul class="menu-navigation-list">
          <li class="menu-navigation-item">
            <a href="./index.html" class="menu-navigation-link">Home</a>
          </li>
          <li class="menu-navigation-item">
            <a href="./index.html" class="menu-navigation-link"
              >How it’s made?</a
            >
          </li>
          <li class="menu-navigation-item">
            <a href="./index.html" class="menu-navigation-link">Our products</a>
          </li>
          <li class="menu-navigation-item">
            <a href="./index.html" class="menu-navigation-link">Top sellers</a>
          </li>
          <li class="menu-navigation-item">
            <a href="./index.html" class="menu-navigation-link"
              >Chocolate is loved</a
            >
          </li>
        </ul>
      </div>
      <div class="menu-network-wrap">
        <ul class="menu-network-list-small">
          <li class="menu-network-item-small">
            <svg class="menu-network-icon" width="20px" height="20px">
              <use href="../img/icons.svg#icon-instagram-small"></use>
            </svg>
          </li>
          <li class="menu-network-item-small">
            <svg class="menu-network-icon" width="20px" height="20px">
              <use href="../img/icons.svg#icon-twitter-small"></use>
            </svg>
          </li>
        </ul>
        <ul class="menu-network-list-big">
          <li class="menu-network-item-big">
            <svg class="menu-network-icon" width="24px" height="24px">
              <use href="../img/icons.svg#icon-instagram-big"></use>
            </svg>
          </li>
          <li class="menu-network-item-big">
            <svg class="menu-network-icon" width="24px" height="24px">
              <use href="../img/icons.svg#icon-twitter-big"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
