<section class="products">
  <div class="container conteiner-swiper">
    <h2 class="section-title title-margin">
      Our <span class="section-title-accent">pRODUCTS</span>
    </h2>
    <div class="swiper mySwiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <img src="../img/products/image 11.jpg" alt="" />
          <h3 class="made-subtitle">orange</h3>
          <p class="text">Dark chocolate</p>
          <button class="button-swiper" type="button">45 UAH</button>
        </li>
        <li class="swiper-slide">
          <img src="../img/products/image 11.jpg" alt="" />
          <h3 class="made-subtitle">orange</h3>
          <p class="text">Dark chocolate</p>
          <button class="button-swiper" type="button">45 UAH</button>
        </li>
        <li class="swiper-slide">
          <img src="../img/products/image 11.jpg" alt="" />
          <h3 class="made-subtitle">orange</h3>
          <p class="text">Dark chocolate</p>
          <button class="button-swiper" type="button">45 UAH</button>
        </li>
        <li class="swiper-slide">
          <img src="../img/products/image 11.jpg" alt="" />
          <h3 class="made-subtitle">orange</h3>
          <p class="text">Dark chocolate</p>
          <button class="button-swiper" type="button">45 UAH</button>
        </li>
        <li class="swiper-slide">
          <img src="../img/products/image 11.jpg" alt="" />
          <h3 class="made-subtitle">orange</h3>
          <p class="text">Dark chocolate</p>
          <button class="button-swiper" type="button">45 UAH</button>
        </li>
        <li class="swiper-slide">
          <img src="../img/products/image 11.jpg" alt="" />
          <h3 class="made-subtitle">orange</h3>
          <p class="text">Dark chocolate</p>
          <button class="button-swiper" type="button">45 UAH</button>
        </li>
        <li class="swiper-slide">
          <img src="../img/products/image 11.jpg" alt="" />
          <h3 class="made-subtitle">orange</h3>
          <p class="text">Dark chocolate</p>
          <button class="button-swiper" type="button">45 UAH</button>
        </li>
        <li class="swiper-slide">
          <img src="../img/products/image 11.jpg" alt="" />
          <h3 class="made-subtitle">orange</h3>
          <p class="text">Dark chocolate</p>
          <button class="button-swiper" type="button">45 UAH</button>
        </li>
      </ul>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
