<section class="products">
  <div class="container conteiner-swiper">
    <h2 class="section-title title-margin">
      Our <span class="section-title-accent">pRODUCTS</span>
    </h2>
    <div class="swiper mySwiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <img
            src="../img/products/chocolate11.jpg"
            alt="A lot of iPhone's displays"
            srcset="
              ../img/products/chocolate11.jpg    1x,
              ../img/products/chocolate11-2x.jpg 2x
            "
            width="360"
          />

          <!-- <img src="../img/products/image 11.jpg" alt="" /> -->
          <h3 class="made-subtitle">orange</h3>
          <p class="text">Dark chocolate</p>
          <button class="button-swiper" type="button">45 UAH</button>
        </li>
        <li class="swiper-slide">
          <img
            src="../img/products/chocolate2.jpg"
            alt="A lot of iPhone's displays"
            srcset="
              ../img/products/chocolate2.jpg    1x,
              ../img/products/chocolate2-2x.jpg 2x
            "
            width="360"
          />
          <h3 class="made-subtitle">APPLE&CRANBERRY</h3>
          <p class="text">Milk chocolate</p>
          <button class="button-swiper" type="button">50 UAH</button>
        </li>
        <li class="swiper-slide">
          <img
            src="../img/products/chocolate3.jpg"
            alt="A lot of iPhone's displays"
            srcset="
              ../img/products/chocolate3.jpg    1x,
              ../img/products/chocolate3-2x.jpg 2x
            "
            width="360"
          />
          <h3 class="made-subtitle">lime&sea salt</h3>
          <p class="text">Dark chocolate</p>
          <button class="button-swiper" type="button">66 UAH</button>
        </li>
        <li class="swiper-slide">
          <img
            src="../img/products/chocolate4.jpg"
            alt="A lot of iPhone's displays"
            srcset="
              ../img/products/chocolate4.jpg    1x,
              ../img/products/chocolate4-2x.jpg 2x
            "
            width="360"
          />
          <h3 class="made-subtitle">pineapple</h3>
          <p class="text">Dark chocolate</p>
          <button class="button-swiper" type="button">54 UAH</button>
        </li>
        <li class="swiper-slide">
          <img
            src="../img/products/chocolate12.jpg"
            alt="A lot of iPhone's displays"
            srcset="
              ../img/products/chocolate12.jpg    1x,
              ../img/products/chocolate12-2x.jpg 2x
            "
            width="360"
          />
          <h3 class="made-subtitle">Classic</h3>
          <p class="text">Milk chocolate</p>
          <button class="button-swiper" type="button">45 UAH</button>
        </li>
        <li class="swiper-slide">
          <img
            src="../img/products/chocolate8.jpg"
            alt="A lot of iPhone's displays"
            srcset="
              ../img/products/chocolate8.jpg    1x,
              ../img/products/chocolate8-2x.jpg 2x
            "
            width="360"
          />
          <h3 class="made-subtitle">honey</h3>
          <p class="text">Milk chocolate</p>
          <button class="button-swiper" type="button">50 UAH</button>
        </li>
        <li class="swiper-slide">
          <img
            src="../img/products/chocolate9.jpg"
            alt="A lot of iPhone's displays"
            srcset="
              ../img/products/chocolate9.jpg    1x,
              ../img/products/chocolate9-2x.jpg 2x
            "
            width="360"
          />
          <h3 class="made-subtitle">Roasted fruits</h3>
          <p class="text">Dark chocolate</p>
          <button class="button-swiper" type="button">66 UAH</button>
        </li>
        <li class="swiper-slide">
          <img
            src="../img/products/chocolate10.jpg"
            alt="A lot of iPhone's displays"
            srcset="
              ../img/products/chocolate10.jpg    1x,
              ../img/products/chocolate10-2x.jpg 2x
            "
            width="360"
          />
          <h3 class="made-subtitle">Classic</h3>
          <p class="text">White chocolate</p>
          <button class="button-swiper" type="button">54 UAH</button>
        </li>
      </ul>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
