<section class="reviews">
    <div class="container">
        <h2 class="reviews-title section-title"><span class="section-title-accent">CHOCOLATE</span>IS LOVED</h2>
        <ul class="reviews-list">
            <li class="reviews-item">
                <img class="reviews-img"
                srcset="../img/reviews/victoria-dobrzhanska-x1.png 1x,
                ../img/reviews/victoria-dobrzhanska-x2.png 2x"
                sizes="" 
                src="../img/reviews/victoria-dobrzhanska-x1.png" 
                alt="victoria-dobrzhanska">
                <h3 class="reviews-subtitle">Victoria Dobrzhanska</h3>
                <p class="reviews-text">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
            </li>
            <li class="reviews-item">
                <img class="reviews-img"
                srcset="../img/reviews/nazar-babenko-x1.png 1x,
                ../img/reviews/nazar-babenko-x2.png 2x"
                sizes="" 
                src="../img/reviews/nazar-babenko-x1.png" 
                alt="nazar-babenko">
                <h3 class="reviews-subtitle">Nazar Babenko</h3>
                <p class="reviews-text">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
            </li>
            <li class="reviews-item">
                <img class="reviews-img"
                srcset="../img/reviews/olena-kampusch-x1.png 1x
                ../img/reviews/olena-kampusch-x2.png 2x"
                sizes="" 
                src="../img/reviews/olena-kampusch-x1.png" 
                alt="olena-kampusch">
                <h3 class="reviews-subtitle">Olena Kampusch</h3>
                <p class="reviews-text"> Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.</p>
            </li>
        </ul>
        <button class="reviews-button" type="button">Leave  a review</button>
    </div>
</section>