<section class="reviews">
    <div class="container">
        <h2 class="reviews-title">CHOCOLATE IS LOVED</h2>
        <ul class="reviews-list">
            <li class="reviews-item">
                <img
                srcset="../img/reviews/victoria-dobrzhanska-x1.jpg 1x,
                ../img/reviews/victoria-dobrzhanska-x2.jpg 2x"
                sizes="" 
                src="../img/reviews/victoria-dobrzhanska-x1.jpg" 
                alt="victoria-dobrzhanska">
                <h3 class="reviews-subtitle">Victoria Dobrzhanska</h3>
                <p class="reviews-text">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
            </li>
            <li class="reviews-item">
                <img
                srcset="../img/reviews/nazar-babenko-x1.jpg 1x,
                ../img/reviews/nazar-babenko-x2.jpg 2x"
                sizes="" 
                src="../img/reviews/nazar-babenko-x1.jpg" 
                alt="nazar-babenko">
                <h3 class="reviews-subtitle">Nazar Babenko</h3>
                <p class="reviews-text">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
            </li>
            <li class="reviews-item">
                <img
                srcset="../img/reviews/olena-kampusch-x1.jpg 1x
                ../img/reviews/olena-kampusch-x2.jpg 2x"
                sizes="" 
                src="../img/reviews/olena-kampusch-x1.jpg" 
                alt="olena-kampusch">
                <h3 class="reviews-subtitle">Olena Kampusch</h3>
                <p class="reviews-text"> Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.</p>
            </li>
        </ul>
        <button class="" type="button">Leave  a review</button>
    </div>
</section>