<section class="sellers">
    <div class="container">
        <h2 class="sellers-title">TOP SELLERS</h2>
        <ul class="sellers-list">
            <li class="sellers-link">
                <img src="" alt="chocolate-one">
            </li>
            <li class="sellers-link">
                <img src="" alt="chocolate-one">
            </li>
            <li class="sellers-link">
                <img src="" alt="chocolate-one">
            </li>
        </ul>
        <p class="sellers-text">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
        <button class="" type="button">Buy now</button>
    </div>
</section>