<section class="sellers">
    <div class="container">
        <h2 class="sellers-title section-title"><span class="section-title-accent">TOP</span>SELLERS</h2>
        <ul class="sellers-list">
            <li class="sellers-item">
                <img 
                srcset="
                ../img/sellers/chocolate-one-335px-mob-x1.jpg 1x 335w, 
                ../img/sellers/chocolate-one-335px-mob-x2.jpg 2x 335w,
                ../img/sellers/chocolate-one-344px-tab-x1.jpg 1x 344w,
                ../img/sellers/chocolate-one-344px-tab-x2.jpg 2x 344w,
                ../img/sellers/chocolate-one-368px-des-x1.jpg 1x 368w,
                ../img/sellers/chocolate-one-368px-des-x2.jpg 2x 368w
                " 
                sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 375px) 335px, 100vw"
                src="../img/sellers/chocolate-one-368px-des-x1.jpg" 
                alt="chocolate-one">
            </li>
            <li class="sellers-item">
                <img 
                srcset="../img/sellers/chocolate-two-335px-mob-x1.jpg 1x 335w,
                ../img/sellers/chocolate-two-335px-mob-x2.jpg 2x 335w,
                ../img/sellers/chocolate-two-344px-mob-x1.jpg 1x 344w,
                ../img/sellers/chocolate-two-344px-mob-x2.jpg 2x 344w,
                ../img/sellers/chocolate-two-368px-mob-x1.jpg 1x 368w,
                ../img/sellers/chocolate-two-368px-mob-x2.jpg 2x 368w
                " 
                sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 375px) 335px, 100vw"
                src="../img/sellers/chocolate-two-368px-des-x1.jpg" 
                alt="chocolate-two">
            </li>
            <li class="sellers-item">
                <img 
                srcset="../img/sellers/chocolate-three-368px-des-x1.jpg 1x 368w,
                ../img/sellers/chocolate-three-368px-des-x2.jpg 2x 368w" 
                sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 375px) 335px, 100vw"
                src="../img/sellers/chocolate-three-368px-des-x1.jpg" 
                alt="chocolate-three">
            </li>
        </ul>
        <p class="sellers-text">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
        <button class="buy-button" type="button">Buy now</button>
    </div>
</section>