<div class="backdrop is-hidden" data-thanks-review-modal>
  <!-- Modal Thanks Review -->
  <div class="modal-thanks-review">
    <button
      type="button"
      class="modal-close-thanks-review"
      data-close-thanks-review
    >
      <svg class="modal-close-thanks-review-icon" width="16" height="16">
        <use href="./img/icons.svg#icon-close-btn-small"></use>
      </svg>
    </button>
    <h2>
      thank you<br />
      <span>for your feedback!</span>
    </h2>
    <p>We are so happy to hear from you!</p>
  </div>
</div>
