<!-- Backdrop -->
<div class="backdrop-thanks-buy" data-modal>
  <!-- Modal -->
  <div class="modal-thanks-buy">
    <button type="button" class="modal-close-thanks-buy" data-modal-close>
      <svg width="16" height="16">
        <use href="../img/icons.svg#icon-close-btn-small"></use>
      </svg>
    </button>
    <div class="modal-thanks-buy-content">
      <p class="title-thanks-buy">thank you!</p>
      <p>
        We are glad that you ordered our chocolate and we are giving you a 20%
        discount on all our products.
      </p>
    </div>
  </div>
</div>
