<!-- Backdrop -->
<div class="visually-hidden backdrop-thank-you" data-modal>
  <!-- Modal -->
  <div class="modal-thank-you">
    <button type="button" class="modal-close" data-modal-close>
      <svg width="8" height="8">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="form-order-title">
      Leave your contacts and we will call you back
    </p>
    <!-- Form-order -->
    <form class="form-order">
      <div class="form-order-field">
        <label for="user-name" class="form-order-label">Name</label>
        <div class="form-order-field-wrap">
          <input
            class="form-order-input"
            name="user-name"
            type="text"
            id="user-name"
          />
          <svg class="form-order-icon" width="18" height="18">
            <use href="./images/icons.svg#icon-person"></use>
          </svg>
        </div>
      </div>
      <div class="form-order-field">
        <label for="user-tel" class="form-order-label">Phone</label>
        <div class="form-order-field-wrap">
          <input
            class="form-order-input"
            name="user-tel"
            type="tel"
            id="user-tel"
          />
          <svg class="form-order-icon" width="18" height="18">
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
        </div>
      </div>
      <div class="form-order-field">
        <label for="user-email" class="form-order-label">Email</label>
        <div class="form-order-field-wrap">
          <input
            class="form-order-input"
            name="user-email"
            type="email"
            id="user-email"
          />
          <svg class="form-order-icon" width="18" height="18">
            <use href="./images/icons.svg#icon-email"></use>
          </svg>
        </div>
      </div>
      <div class="form-order-field">
        <label for="user-comment" class="form-order-label">Comment</label>
        <textarea
          class="form-order-textarea"
          name="user-comment"
          id="user-comment"
          placeholder="Text input"
        ></textarea>
      </div>
      <div class="form-order-checkbox">
        <input
          class="form-order-input-checkbox visually-hidden"
          type="checkbox"
          name="policy"
          id="policy"
          value="checked"
        />
        <label for="policy" class="form-order-label-checkbox">
          <span>
            <svg class="form-order-policy-icon" width="10" height="8">
              <use href="./images/icons.svg#icon-click"></use>
            </svg> </span
          >I accept the terms and conditions of the &nbsp;<a href="#"
            >Privacy Policy</a
          >
        </label>
      </div>
      <button type="submit" class="btn primary">Send</button>
    </form>
  </div>
</div>
