<div class="backdrop is-hidden">
  <!-- Modal Thanks Buy -->
  <div class="modal-thanks-buy">
    <button type="button" class="modal-close-thanks-buy">
      <svg class="modal-close-thanks-buy-icon" width="16" height="16">
        <use href="../img/icons.svg#icon-close-btn-small"></use>
      </svg>
    </button>
    <div class="modal-thanks-buy-content">
      <h2 class="section-title">thank you!</h2>
      <p>
        We are glad that you ordered our chocolate and we are giving you a
        <span>20%</span>
        discount on all our products.
      </p>
    </div>
  </div>

  <!-- Gradient for close-icon -->
  <svg
    style="width: 0; height: 0; position: absolute"
    aria-hidden="true"
    focusable="false"
  >
    <linearGradient
      id="modal-close-icon-gradient"
      x1="8.03478"
      y1="4"
      x2="7.76142"
      y2="11.9918"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="var(--color-stop-1)" />
      <stop offset="1" stop-color="var(--color-stop-2)" />
    </linearGradient>
  </svg>
</div>
