.backdrop-modal-page {
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100vw;
  height: 100vh;
  overflow: auto;
  transition: opacity 250ms linear, visibility 250ms linear;
}
.backdrop-modal-page.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 0 0 0 0;
  background-color: var(--color-bgwhite);
  border: none;
}
.modal-close-icon:hover,
.modal-close-icon:focus {
  stroke: var(--color-orange);
}
.modal-close-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  stroke: #111111;
  transition: stroke 250ms linear;
}

.modal-page {
  position: absolute;
  width: 100%;
  height: 1007px;
  min-height: auto;
  background-color: var(--color-bgwhite);
  border-radius: 15px;
  padding: 32px 24px;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0) scale(1);
}

.modal-part-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-title {
  font-size: 24px;
  margin-bottom: 32px;
  line-height: 1.16;
}
.modal-title-part {
  color: var(--color-orange);
}

.modal-list-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 32px 28px 32px;
  width: 231px;
  height: 257px;
  background-color: var(--color-white);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  margin-bottom: 59px;
}
.tablet-choco-items {
  display: none;
}
.modal-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #111111;
  width: 96px;
  height: 33px;
  background-color: var(--color-bgwhite);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  margin-top: 16px;
}

.modal-field {
  display: block;
  margin-bottom: 18px;
}
.modal-input {
  width: 100%;
  height: 45px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;
  outline: transparent;
  transition: border-color 250ms linear;
}
.modal-input:hover,
.modal-input:focus {
  border-color: var(--color-orange);
}
.modal-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.phone-input {
  padding-left: 106px;
}

.modal-field-text {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 8px;
}

.name-input {
  margin-bottom: 14px;
}
.input-wrap {
  position: relative;
}
.modal-icon-flag {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 25%;
  left: 18px;
}
.modal-input-text {
  position: absolute;
  top: 30%;
  left: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #000000;
}
.modal-input-text::after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: rgba(17, 17, 17, 0.05);
  rotate: 90deg;
}

.modal-icon-mastercard {
  width: 32px;
  height: 21px;
  position: absolute;
  top: 0;
  left: 217px;
}
.modal-text-area {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #000000;
}
.modal-comment {
  width: 100%;
  height: 91px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  resize: none;
  padding: 14px 18px;
  margin-bottom: 18px;
  outline: transparent;
  transition: border-color 250ms linear;
}
.modal-comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.modal-comment:hover,
.modal-comment:focus {
  border-color: var(--color-orange);
}
.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 109px;
  height: 41px;
  background-color: var(--color-orange);
  color: var(--color-white);
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.17;
  transition: color 250ms linear, background-color 250ms linear;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #fcf1e0;
  color: var(--color-orange);
}

@media screen and (min-width: 375px) {
  .modal-page {
    position: absolute;
    width: 311px;
    height: 1007px;
  }
}
@media screen and (min-width: 768px) {
  .modal-page {
    width: 609px;
    height: 1058px;
    padding: 48px 48px;
  }
  .modal-close-icon {
    width: 28px;
    height: 28px;
    stroke: #111111;
  }
  .modal-close-btn {
    top: 24px;
    right: 24px;
  }
  .tablet-choco-items {
    display: flex;
    gap: 16px;
  }
  .modal-list {
    display: flex;
    gap: 16px;
  }
  .modal-list-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 20px 18px 20px;
    width: 160px;
    height: 196px;
    background-color: var(--color-white);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    margin-bottom: 40px;
  }
  .modal-item-info {
    margin-top: 14px;
  }
  .modal-field-text {
    font-size: 14px;
    line-height: 1.29;
  }
  .personal-info {
    display: flex;
    gap: 21px;
  }
  .modal-input {
    display: flex;
    height: 66px;
  }
  .modal-input::placeholder {
    font-size: 18px;
    line-height: 1.22;
  }
  .name-input {
    margin-bottom: 0;
  }
  .phone-input {
    padding-left: 149px;
  }
  .modal-icon-flag {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 25%;
    left: 25px;
  }
  .modal-input-text {
    position: absolute;
    top: 30%;
    left: 74px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.02em;
    color: #000000;
  }

  .modal-icon-mastercard {
    width: 44px;
    height: 30px;
    position: absolute;
    top: 25%;
    left: 445px;
  }
  .modal-text-area {
    font-size: 14px;
    line-height: 1.29;
  }
  .modal-comment::placeholder {
    font-size: 18px;
    line-height: 1.22;
  }
  .modal-comment {
    height: 137px;
  }
  .modal-btn {
    width: 133px;
    height: 45px;
  }

  @media screen and (min-width: 1200px) {
  }
}
