.backdrop {
  position: fixed;
  top: 0;
  background-color: tomato;
  width: 100%;
  height: 100%;
}
.modal-page {
  position: absolute;
  width: 311px;
  height: 1007px;
  min-height: auto;
  background-color: var(--color-bgwhite);
  border-radius: 15px;
  padding: 32px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}
/* .modal-close-icon {
  width: 24px;
  height: 24px;
  fill: black;
} */

.modal-part-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-title {
  margin-bottom: 32px;
}
.modal-title-part {
  color: var(--color-orange);
}
.moda-item-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 32px 28px 32px;
  width: 231px;
  height: 257px;
  background-color: var(--color-white);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}
.modal-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #111111;
  width: 96px;
  height: 33px;
  background-color: var(--color-bgwhite);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}

@media screen and (min-width: 375px) {
  .backdrop {
    position: fixed;
    top: 0;
    background-color: tomato;
    width: 100%;
    height: 100%;
  }
  .modal-page {
    position: absolute;
    width: 311px;
    height: 1007px;
    background-color: var(--color-bgwhite);
    border-radius: 15px;
    padding: 32px 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
} ;
