.section-hero {
  background-color: var(--color-bgwhite);
}

.section-hero > .container {
  padding: 395px 20px 21px 20px;

  background-image: url(../img/chocolate-covered-cocoa-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.hero-media {
  display: flex;
  flex-wrap: wrap;
}
.hero-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  colo }

@media screen and (min-width: 375px) {
}
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
} ;
