.sellers {
}
.sellers-wrap-text {
    display: none;
}

.sellers-title {
    margin-bottom: 32px;
}

.section-title-accent {
    margin-right: 5px;
}

.sellers-text {
    display: block;
    margin-top: 20px;
    margin-bottom: 32px;
    width: 306px;
    font-weight: 400;
    color: #111111;
}

.sellers-img img:last-child {
    display: none;
} 

.sellers-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.seller-wrap {
    margin-bottom: 72px;
}

.buy-button {
    display: block;
    margin: 0 auto;
    align-items: center;
    margin-top: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: #FFFFFF;
    background: #FD9222;
    border-radius: 100px;
    border: none;
    width: 120px;
    height: 41px;
    cursor: pointer;
}

.buy-button:hover,
.buy-button:focus {
    background: #FCF1E0;
    color: #FD9222;
}



@media screen and (min-width: 375px) {}

;

@media screen and (min-width: 768px) {
    .sellers-text {
        display: none;
    }

    .sellers-title {
        margin-bottom: 50px;
        font-size: 24px;
    }
    
    .sellers-img {
        display: flex;
        flex-wrap: nowrap;
        gap: 16px;
        justify-content: center;
        margin-bottom: 32px;
    }

    .seller-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 100px;
    }

    .sellers-wrap-text {
        display: block;
        font-weight: 400;
        color: #111111;
        width: 306px; 
    }

    .buy-button {
        width: 144px;
        height: 45px;  
        margin: 0;  
    }
}
;

@media screen and (min-width: 1200px) {
    .sellers-img img:last-child {
        display: block;
    } 

    .seller-wrap {
        margin-bottom: 128px;
    }

    .sellers-wrap-text  {
        width: 407px;
    }
}

;