/* General styles */

/* Backdrop */

.backdrop-thanks-buy {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-time) var(--transition-type),
    visibility var(--transition-time) var(--transition-type);
}

/* Modal */

.modal-thanks-buy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  width: 311px;
  height: 350px;
  padding-top: 14px;
  padding-right: 14px;
  border-radius: 15px;

  background-color: var(--color-orange);

  /* transition: transform var(--transition-duration)
    var(--transition-timing-function); */
}

/* .backdrop-thank-you.is-hidden .modal-thank-you {
  transform: translate(-50%, -50%) scale(0) rotate(0);
} */

.modal-close-thanks-buy {
  margin-left: auto;
  margin-bottom: 42px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: transparent;
  border-radius: 50%;

  background: #fcf1e0;
  stroke: rgba(212, 69, 40, 1);

  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);

  cursor: pointer;
}

.modal-close-thanks-buy:is(:hover, :focus) {
  background: var(--pressed-state-color);
  fill: var(--main-basic-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-thanks-buy-content {
  padding-left: 68px;
  padding-right: 24px;

  color: var(--color-white);

  line-height: 1.14;
}

.title-thanks-buy {
  text-transform: uppercase;
  margin-bottom: 8px;

  color: rgba(252, 241, 224, 1);

  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
} ;
