/* General styles */

/* Gradient for close-icon */
#modal-close-icon-gradient {
  --color-stop-1: #f16529;
  --color-stop-2: #d44528;
}

/* Modal Thanks Review */

.modal-thanks-review {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 311px;
  height: 350px;
  padding-top: 14px;
  padding-right: 14px;
  border-radius: 15px;
  padding-left: 58px;

  background-color: var(--color-orange);
  background-image: url(../img/modal-thank-you/chocolate-bar.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .modal-thanks-buy {
    background-image: url(../img/modal-thank-you/chocolate-bar-2x.webp);
  }
}

.modal-close-thanks-review {
  margin-left: auto;
  margin-bottom: 42px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: transparent;
  border-radius: 50%;

  background: #fcf1e0;
}

.modal-close-thanks-review-icon {
  stroke: url(#modal-close-icon-gradient);
}

.modal-thanks-review-content {
  color: var(--color-white);

  line-height: 1.14;
}

.modal-thanks-review h2 {
  margin-bottom: 8px;
  text-align: left;

  color: #fcf1e0;

  letter-spacing: -0.02em;
}

.modal-thanks-review p {
  width: 170px;
}

@media screen and (min-width: 768px) {
  .modal-thanks-review {
    width: 516px;
    height: 414px;
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 170px;

    background-image: url(../img/modal-thank-you/chocolate-bar-adaptive.webp);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .modal-thanks-review {
      background-image: url(../img/modal-thank-you/chocolate-bar-adaptive-2x.webp);
    }
  }

  .modal-close-thanks-review {
    margin-bottom: 99px;
    width: 40px;
    height: 40px;
  }

  .modal-close-thanks-review-icon {
    width: 22px;
    height: 22px;
  }

  .modal-thanks-review-content {
    padding-right: 20px;
    width: 170px;

    color: var(--color-white);

    font-size: 18px;
    line-height: 1.33;
  }

  .modal-thanks-review h2 {
    margin-bottom: 8px;
    text-align: left;

    color: #fcf1e0;

    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;
  }

  .modal-thanks-review p {
    width: 297px;
  }
}